*:focus{
    outline: none;
}
/* *{ border: 1px solid red; }*/
html {
    background: #547dc4;
    min-height: 100%;
    overflow-y: hidden;
}
body {
    margin: 0;
    font-family: raleway, sans-serif;
    min-height: 100%;
}
h1 {
    margin: 0;
    margin-left: -10px;
    font-size: 13px;
    font-weight: 650;
    color: #7be4e7;
    padding: 0 10%;
    top: -400px;
    line-height: 1px;
    text-shadow: 3px 3px 50px black, 0 0 1em blue, 0 0 0.2em blue;
}
h2 {
    margin: 0;
    font-size: 20px;
    font-weight: 550;
    color: #547dc4;
    padding: 0 10%;
    text-shadow: 3px 3px 50px black, 0 0 1em blue, 0 0 0.2em blue;
}
h3 {
    margin: 0;
    font-size: 24px;
    font-weight: 550;
    color: #547dc4;
    padding: 0 10%;
    text-shadow: 3px 3px 50px black, 0 0 1em blue, 0 0 0.2em blue;
}
h4 {
    margin: 0;
    margin-left: -28px;
    font-size: 13px;
    font-weight: 1000;
    color: #7be4e7;
    padding: 0 10%;
    top: -400px;
    line-height: 1px;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}
h5 {
    margin: 0;
    margin-left: -28px;
    font-size: 14px;
    font-weight: 900;
    color: #7be4e7;
    padding: 0 20%;
    top: -400px;
    line-height: 30px;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}
h6 {
    margin: 0;
    text-align: center;
    font-size: 24px;
    font-weight: 550;
    color: #547dc4;
    padding: 0 5%;
    padding-top: 10%;
    line-height: 20px;
    text-shadow: 3px 3px 50px black, 0 0 1em blue, 0 0 0.2em blue;
    box-shadow: 3px 3px 50px black, 0 0 1em blue, 0 0 0.2em cyan;
    border-radius: 10px 10px 10px 10px;
    background: transparent linear-gradient(to bottom, rgba(10,11,31,0.2) 100%, rgb(10,11,31) 70%) repeat scroll 0 0;
}
.container {
    display: block;
    width: 100%;
    height: 1000px;
    margin: 0 auto;
    overflow: auto;
    background-image: url('/static/img/primordial_hole_darkmatter.jpg');
    background-repeat: repeat;
    background-size: cover;
}
.music-player {
    display: block;
    position: relative;
    width: 400px;
    height: 1350px;
    margin: auto;
    margin-top: 6%;
    border-radius: 16px 16px 16px 16px;
    background: transparent linear-gradient(to bottom, rgba(10,11,31,0.6) 100%, rgb(10,11,31) 70%) repeat scroll 0 0;
    box-shadow: 1px 10px 20px 5px #222;
}
.album_list {
    float: right;
    width: 100%;
    margin-top: 10%;
}
.cover {
    float: left;
    width: 100%;
    height: 55%;
}
.cover img {
    display: block;
    position: absolute;
    top: 3%;
    left: 10%;
    right: 10%;
    width: 80%;
    margin: auto;
    text-align: center;
    box-shadow: -10px -5px 30px 10px #333;
}
.title {
    float: left;
    width: 100%;
    margin-top: -90%;
}
.back_forth_arrows {
    float: left;
    margin: 0;
    width: 80%;
    margin-top: -82%;
    padding: 10%;
}
.fa-step-forward {
    font-size: 32px;
    background:-moz-linear-gradient(top, #00ffff 0%, #000066 100%);
    background: -webkit-linear-gradient(top, #00ffff 0%, #000066 100%);
    background: linear-gradient(to bottom, #00ffff 0%, #000066 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color:transparent;
}
.fa-step-backward {
    font-size: 32px;
    background:-moz-linear-gradient(top, #00ffff 0%, #000066 100%);
    background: -webkit-linear-gradient(top, #00ffff 0%, #000066 100%);
    background: linear-gradient(to bottom, #00ffff 0%, #000066 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color:transparent;
}
.track_list {
    float: left;
    margin: 0;
    width: 85%;
    margin-top: -64%;
    padding: 8%;
}
.width: 100%;
    display: block;
    height: auto;
    position: relative;
    float: left;
}
.mejs__button>button:focus {
    outline: 0px dotted #999;
}
.mejs__container {
    position: relative;
    background-color: transparent;
    min-width: auto !important;
    height: 40px;
}
.mejs__controls {
    padding: 0 10%;
    background: transparent !important;
    display: block;
    position: relative;
}
.mejs__controls div {
    display: block;
    float: left;
    position: relative;
}
.mejs__controls .mejs__playpause-button {
    position: absolute !important;
    left: -5px;
    bottom: 55%;
    width: 40px;
    height: 10px;
    margin-top: 18px;
}
.mejs__controls .mejs__playpause-button button {
    display: block;
    width: 40px;
    height: 40px;
    padding: 0;
    border: 0;
    font-family: FontAwesome;
    font-size: 23px;
    background: transparent;
    opacity: 80%;
    margin: 0;
    background:-moz-linear-gradient(top, #00ffff 0%, #a742c6 100%);
    background: -webkit-linear-gradient(top, #00ffff 0%, #a742c6 100%);
    background: linear-gradient(to bottom, #00ffff 0%, #a742c6 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color:transparent;
}
.mejs__controls .mejs__play button:before{
    content:"\f04b";
}
.mejs__controls .mejs__pause button:before{
    content:"\f04c";
}
.mejs__controls .mejs__volume-button button {
    display: block;
    width: 40px;
    height: 40px;
    padding: 0;
    border: 0;
    font-family: FontAwesome;
    font-size: 16px;
    background: transparent;
    margin: 0;
    padding: 0;
    margin-top: 1px;
    background:-moz-linear-gradient(top, #00ffff 0%, #000066 100%);
    background: -webkit-linear-gradient(top, #00ffff 0%, #000066 100%);
    background: linear-gradient(to bottom, #00ffff 0%, #000066 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color:transparent;
}
.mejs__controls .mejs__mute button:before {
    content: "\f028";
}
.mejs__controls .mejs__unmute button:before {
    content: "\f026";
}
.mejs__controls .mejs__time {
    width: 100%;
    margin-top: 5%;
    margin-bottom: 3%;
    color: #4e79c3;
    height: auto;
    padding: 0;
    overflow: visible;
    min-width: 100%;
}
.mejs__controls .mejs__time span {
    font-size: 12px;
    height: 1px;
}
.mejs__controls span.mejs__duration {
    float: right;
    text-align: right;
    color: #4e79c3;
}
.mejs__controls span.mejs__currenttime {
    font-weight: 700;
    float: left;
}
.mejs__controls .mejs__time-rail {
    width: 100%;
    margin: 0;
}
.mejs__controls .mejs__time-rail span {
    position: absolute;
    top: 0;
    width: 100%;
    height: 4px;
    border-radius: 50px;
    cursor: pointer;
}
.mejs__controls .mejs__time-rail .mejs__time-loaded {
    background: rgba(255,255,255,0.2);
}
.mejs__controls .mejs__time-rail .mejs__time-float {
    display: none;
    top: -40px;
    width: 40px;
    height: 25px;
    margin-left: 0px;
    text-align: center;
    font-size: 10px;
    background: #fff;
    border: 0;
}
.mejs__controls .mejs__time-rail .mejs__time-float-current {
    display: block;
    position: relative;
    top: 0;
    margin: 0;
    line-height: 26px;
    color: #100d28;
}
.mejs__controls .mejs__time-rail .mejs__time-float-corner {
    top: auto;
    bottom: -9px;
    left: 50%;
    width: 0;
    height: 0;
    border-top: 6px solid #fff;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
}
.mejs__controls .mejs__time-rail .mejs__time-current {
    background: #7be4e7; none repeat scroll 0 0;
}
.mejs__controls .mejs__time-handle {
    display: none;
}
.mejs__controls .mejs__volume-button {
    position: absolute !important;
    left: 20%;
    bottom: 55%;
    width: 40px;
    height: 22px;
    margin-top: 18px;
}
.mejs__controls .mejs__horizontal-volume-slider {
    position: absolute !important;
    top: -3px;
    left: 30%;
    width: 155px;
    height: 2px;
    margin-top: 18px;
    border-radius: 50px;
    line-height: 8px;
}
.mejs__controls .mejs__horizontal-volume-slider .mejs__horizontal-volume-total,
.mejs__controls .mejs__horizontal-volume-slider .mejs__horizontal-volume-current {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.1);
}
.mejs__controls .mejs__horizontal-volume-slider .mejs__horizontal-volume-current {
    background: #7be4e7;
}